/* ==|=======================================================================
   Module/User/CTA Store
   ========================================================================== */

.m-cta-store {
	text-align: center;
	
	p {
		font-size: 2em;
		margin-bottom: 0.5em;
	}
}