/* ==|=======================================================================
   Layouts/2 cols
   ========================================================================== */

.l-2cols {
	> .col {
		vertical-align: top;
		width: 48%;
		width: 46%\9; /* <=IE8 Hack */
		display: inline-block;
		margin-right: 3%;
		
		&:last-child, &.last {
			margin: 0;
		}
	}
}