%section.text-default
  %header.l-header-fullimg
    %div.wrapper
      = title "Cette page n'existe pas"
  %section.wrapper
    %p.text-center
      Nous vous proposons de retourner à la
      = link_to "page d'accueil", '/'
    