.text-default
  .l-header-fullimg
    %div.wrapper
      = title "Comment ça marche ?"
  .how-it-works
    %h4
      Plus de visibilité, Plus de trafic physique en magasin, Plus de Ventes.
    .step.intro
      .wrapper
        %h2.ir Installation 
        %dl
          %dt.double 1
          %dd Enregistrez votre magasin, boutique, commerce sur www.jangalapro.com
          %dt.double 2
          %dd Complétez vos informations : description de votre magasin, horaires d’ouverture, adresse, logo 
          %dt 3
          %dd Choisissez votre catégorie d'activité
          %dt 4
          %dd Ajoutez vos produits
          %dt 5
          %dd Diffusez des promotions
          %dt.noarrow 6
          %dd Mettez à jour vos actualités et vos évènements
    .step.visibility.bg-white
      .wrapper
        %h2.ir Visibilité
        %ul
          %li Les internautes partagent vos actualités, vos produits, et vos promotions sur les réseaux sociaux
          %li Les internautes recommandent vos produits et promotions à leurs contacts par email et message sur Facebook
          %li Les internautes de votre quartier qui sont intéressés par votre catégorie d’activité reçoivent en temps réel vos produits et promotions d'ouverture
          %li Les internautes peuvent visiter votre site web via Jangala Market propre à l'internaute
          %li Vos produits, promotions, et actualités sont indéxés sur Google en fonction des mots clés votre catégorie d'activité
          %li Vos produits et promotions sont référencés sur nos sites partenaires
        %h3
          %span.f-light J'augmente
          %br
          la visibilité
    .products.step
      .wrapper
        %h2.ir Produits
        %dl
          %dt 1
          %dd Vous recevez une commande pour un produit
          %dt.double 2
          %dd L'internaute vient collecter le produit en magasin muni d’un code à 3 chiffres durant vos horaires d’ouverture
          %dt.double 3
          %dd Vous insérez le code à 3 chiffres dans votre cahier de commande en ligne, donnez le produit en main propre à l'internaute
          %dt.noarrow 4
          %dd Nous créditons votre compte bancaire le lendemain
        %h3
          %span.f-light J'augmente
          %br
          le CA
    .step.deals.bg-white
      .wrapper
        %h2.ir Promotions
        %dl
          %dt 1
          %dd L'internaute achète une de vos promotion
          %dt.double 2
          %dd L'internaute vient collecter la promotion en magasin muni d’un code à 3 chiffres durant vos horaires d'ouverture
          %dt.double 3
          %dd Vous insérez le code à 3 chiffres dans votre cahier de commande en ligne, donnez la promotion à l'internaute dans l’instant
          %dt.noarrow 4
          %dd Nous créditons votre compte bancaire le lendemain
        %h3
          %span.f-light J'augmente
          %br
          le CA
    .step.loyality
      .wrapper
        %h2.ir Fidélisation des clients
        %ul
          %li Les internautes viennent collecter vos produits et promotions directement en magasin
          %li Les internautes vous contactent directement sur Jangala Market
          %li Les internautes suivent votre magasin ou commerce sur Jangala Market et reçoivent en temps réel vos actualités, nouveaux produits, et promotions
        %h3
          %span.f-light J'augmente
          %br
          la fidélisation

= render "stores/sign_up_form"
      
    
    
  