.text-default
  .l-header-fullimg
    .wrapper
      = title "Mentions Légales"

  .wrapper
    %ul
      %li
        %b Editeur:
        Shops Internet SAS au capital de 10000 € immatriculée au Registre du Commerce de Paris sous le numéro 788 619 039
      %li
        %b Siège Social:
        19 passage Cardinet - 75017 Paris
      %li
        %b Directeur de Publication:
        Jean-Baptiste Malpel
      %li
        %b Hébergement:
        Heroku Inc. 321 11th St, San Francisco - CA 94103
