.text-default
  .l-header-fullimg
    .wrapper
      = title "Changer de Mot de Passe"
  .wrapper
    %p
      Pour changer votre mot de passe, merci de contacter le support client (
      %a{href: "mailto:support@jangalamarket.com"}> support@jangalamarket.com
      ) en utilisant le mail que vous avez utilisé pour vous enregistrer à Jangala Market.
