.text-default
  .l-header-fullimg
    %div.wrapper
      = title "Conditions Générales d’Utilisation - Professionnels"

  .wrapper
    %h2 1. Parties contractantes
    %p
      SHOPS INTERNET est une société par actions simplifiée au capital de
      10 000 euros, dont le siège social est situé au 19, passage Cardinet à
      Parsi (75017), immatriculée au RCS de Paris sous le numéro 788 619
      039, et représentée par son Président, Monsieur Jean-Baptiste Malpel.
    %p
      Jangala Market est une place de marché accessible via l’url
      www.jangalamarket.com et exploitée par la société SHOPS INTERNET
      (ci-après dénommée « Jangala »).
    %p
      Les présentes Conditions Générales d’Utilisation Professionnelle
      (ci-après dénommées « CGUP » ou « le Contrat »), sont conclues entre
      Jangala et le professionnel (ci-après dénommé « le Professionnel »)
      utilisant la plateforme Jangala Market (ci-après dénommée « la
      Plateforme »), et ce quelque soit la forme juridique sous laquelle le
      Professionnel exerce son activité, sous réserve que ce dernier soit
      régulièrement inscrit au Registre des Sociétés et dispose d’un numéro
      de Siret.
    %p
      Jangala et le Professionnel sont ci-après dénommés ensemble « les Parties ».
      
  .wrapper
    %h2 2. Objet
    %p
      Les présentes CGUP lient Jangala au Professionnel et ont pour objet de
      déterminer les conditions auxquelles Jangala autorise le Professionnel
      à utiliser la Plateforme, ses fonctionnalités et ses services
      associés.
    %p
      A toutes fins utiles, il est rappelé que les présentes CGUP priment
      sur tous documents (tel que notamment conditions générales d’achat ou
      de vente) élaborés par le Professionnel et qui n’auraient pas été
      expressément et préalablement acceptés par Jangala.
    
  .wrapper
    %h2 3. Acceptation des CGUP
    %p
      L’acceptation des présentes CGUP est manifestée par l’inscription du Professionnel sur la Plateforme.
    %p
      En tout état de cause, le fait d’utiliser la Plateforme, ses
      fonctionnalités et ses services associés présume, de manière
      irréfragable, de la prise de connaissance préalable des présentes CGUP
      et de leur pleine et entière acceptation par le Professionnel. A
      défaut d’acceptation pleine et entière desdites CGUP, le Professionnel
      renonce à utiliser la Plateforme, ses services associés et ses
      fonctionnalités.
    
  .wrapper
    %h2 4. Mises à jour des CGUP
    %p
      Les présentes CGUP sont susceptibles d’être mises à jour par Jangala.
    %p
      Jangala informera le Professionnel de la mise à jour des CGUP qui
      devra accepter lesdites mises à jour. En tout état de cause, le fait
      pour le Professionnel de continuer à utiliser la Plateforme, ses
      fonctionnalités ou ses services associés après une mise à jour des
      CGUP, présume de façon irréfragable, de son acceptation desdites
      conditions et de leurs modifications.
    
  .wrapper
    %h2 5. Durée
    %p
      Les présentes CGUP entrent vigueur dès l’inscription du Professionnel
      sur la Plateforme et restent en vigueur pour toute la durée
      d’utilisation par le Professionnel de la Plateforme, de ses
      fonctionnalités ou de ses services associés.
    %p
      Le présent contrat matérialisé par les présentes CGUP pourra être
      dénoncé avec un préavis de 15 jours par Jangala ou par le
      Professionnel, par simple notification écrite à l’adresse suivante :
      support@jangalamarket.com.
    %p
      Au cours de la période de préavis, l’utilisation de la Plateforme sera
      limitée aux seuls fonctionnalités et services associés strictement
      nécessaires au solde des commandes en cours. A l’issue de la période
      de préavis, le Professionnel ne sera plus autorisé à accéder à la
      Plateforme et ne pourra plus utiliser ses fonctionnalités et ses
      services associés.
    
  .wrapper

    %h2 6. Modalités d’utilisation de la Plateforme
    
    %h3 6.1 Inscription
    
    %p
      Afin de pouvoir accéder à la Plateforme et utiliser ses
      fonctionnalités et services associés, le Professionnel devra créer un
      compte personnel. A cet effet, le Professionnel devra renseigner
      l’ensemble des informations qui lui seront demandées par Jangala.
    %p
      Il est précisé que l’inscription n’est possible que dans la mesure où
      le Professionnel est valablement inscrit au Registre des Sociétés et
      dispose d’un numéro de Siret. Dans le cas où le Professionnel
      viendrait, après l’entrée en vigueur des présentes CGUP, à ne plus
      être inscrit au Registre des Sociétés (notamment en cas de liquidation
      judiciaire ou en cas de radiation), Jangala clôturera le compte
      personnel du Professionnel dans les conditions prévues à l’article 5
      ci-avant et le présent Contrat sera immédiatement résilié.
    %p
      Jangala procédera à un contrôle de la véracité des informations
      renseignées par le Professionnel. Dans le cas où le Professionnel
      n’aurait pas fourni des informations exactes, Jangala notifiera au
      Professionnel la clôture immédiate de son compte et la résiliation du
      présent Contrat.
    %p
      Le Professionnel s’engage à maintenir les informations renseignées à
      jour et, à cet effet, informera Jangala dans les plus brefs délais de
      toute modification desdites informations en modifiant directement les
      informations en question sur son profil. A défaut de mise à jour des
      informations nécessaires à l’inscription, Jangala pourra clôturer le
      compte du Professionnel dans les conditions prévues à l’article 5
      ci-avant.
    %p
      Lors de son inscription, le Professionnel devra opter pour une
      modalité de délivrance des commandes qui lui seront passées par les
      internautes. A cet effet, le Professionnel devra opter entre :
    %p
      La remise de la commande en magasin ;
      La remise de la commande en magasin et/ou la livraison de la commande ;
    %p
      Au cours de son utilisation de la Plateforme, le Professionnel aura la possibilité de modifier son choix.
    
    %h3 6.2 Identifiants de connexion et back office
    
    %p
      Le compte personnel du Professionnel sera protégé par un identifiant
      (aussi appelé login) et un mot de passe. Ces identifiants de connexion
      sont strictement confidentiels et personnels au Professionnel. Le
      Professionnel s’interdit en conséquence de communiquer ses
      identifiants de connexion à des tiers et doit veiller à leur
      confidentialité.
    %p
      Le Professionnel aura accès à une interface back office. Par
      l’intermédiaire de cette interface back office, le Professionnel aura
      accès aux fonctionnalités lui permettant de gérer sa vitrine en ligne,
      de gérer les actualités qu’il souhaite publier, de publier ses offres
      promotionnelles et de mettre en vente ses produits/services.
    %p
      Il est rappelé que Jangala ne procède à aucun contrôle à priori des
      contenus publiés par le Professionnel via son compte personnel sur sa
      vitrine en ligne. Par conséquent, il est rappelé au Professionnel que,
      conformément aux termes de l’article 6 de loi n°2004-575 du 21 juin
      2004 pour la confiance en l’économie numérique, Jangala a la qualité
      de simple hébergeur des contenus mis en ligne par le Professionnel.
    %p
      En conséquence, le Professionnel est responsable de l’ensemble des
      contenus mis en ligne sur sa vitrine en ligne et doit veiller à leur
      parfaite légalité. A cet effet, il est rappelé que le Professionnel ne
      doit pas publier de propos illicites sur sa vitrine en ligne.
    %p
      Il est rappelé que le Professionnel ne doit en aucun cas publier sur
      sa vitrine en ligne de contenus ou d’information de nature à dénigrer
      ses concurrents. Le Professionnel ne doit communiquer que sur des
      produits ou prestations de service qu’il délivre effectivement. Toute
      communication effectuée par le Professionnel doit être faite à partir
      de moyens qu’il est autorisé à utiliser. Le Professionnel s’interdit
      notamment de publier sur sa vitrine en ligne des contenus protégés par
      des droits de propriété intellectuelle lorsqu’il ne détient pas les
      droits et autorisations nécessaires pour les publier sur sa vitrine en
      ligne.
    %p
      Il est précisé que dans le cas où Jangala se verrait notifier la
      présence d’un contenu illicite publié sur la vitrine en ligne du
      Professionnel, Jangala se réserve le droit de mettre hors ligne le
      contenu en question.
    
    %h3 6.3 Mise en ligne des offres de vente et des promotions
    
    %h4 6.3.1 Catégories de vente

    %p
      La Plateforme permet au Professionnel de mettre en vente des produits
      ou des prestations de services et de publier des promotions.  Les
      prestations de service proposées par le Professionnel sur sa vitrine
      en ligne sont mises en vente sous forme de bons. Ces bons sont vendus
      aux internautes moyennant un prix défini par le Professionnel et sont
      valables pour une durée de deux mois à compter de leur date d’achat
      par les internautes. Il appartiendra ensuite au Professionnel de
      définir les modalités de réalisation de la prestation de service objet
      du bon acheté directement avec l’internaute.
    %p
      Si le Professionnel désire publier des promotions sur sa vitrine en
      ligne, il s’engage expressément à respecter les dispositions légales
      et réglementaires applicables en la matière et notamment les
      dispositions de l’arrêté en date du 31 décembre 2008 relatif aux
      annonces de réduction de prix à l’égard du consommateur.
  
    %h4 6.3.2 Restriction de vente 
    
    %p
      Le Professionnel s’interdit expressément de mettre en vente des
      produits ou de proposer des prestations de services dont la
      commercialisation n’est pas autorisée par la loi ou les règlements. Le
      Professionnel s’interdit formellement de proposer à la vente sur sa
      vitrine en ligne des produits contrefaisants ou dont l’origine lui
      apparaît comme étant incertaine.  Le Professionnel s’interdit de
      mettre en vente des produits ou de proposer des prestations de
      services dont la commercialisation est réglementée s’il ne rempli pas
      strictement toutes les conditions nécessaires à leur vente (notamment
      en cas de nécessité d’avoir une autorisation).
    %p
      Le Professionnel s’interdit de mettre en vente des produits sur sa
      vitrine en ligne si cette mise en vente est contraire à des
      stipulations contractuelles auxquelles le Professionnel aurait par
      ailleurs entendu se soumettre vis-à-vis de tiers (notamment en cas de
      produits dont la distribution nécessite l’appartenance à un réseau de
      distribution sélective).
    
    %h4 6.3.3 Gestion des commandes et des stocks
    
    %p
      Le Professionnel s’engage à toujours disposer d’un stock suffisant à
      honorer les commandes de produits qu’il aura offert à la vente sur sa
      vitrine en ligne. A cet effet, à réception d’une commande d’un produit
      via Jangala Market, le Professionnel s’engage à réserver le produit en
      question pour l’internaute pendant une durée de 15 jours.
    %p
      Dans le cas où le Professionnel ne respecterait pas cet engagement et
      ne pourrait honorer une commande d’un produit passée via Jangala
      Market, une pénalité d’un montant de 1 euros pourra lui être réclamée
      par Jangala, étant précisé que cette somme sera automatiquement
      créditée au profit de l’internaute dont la commande n’aura pu être
      honorée à titre de geste commercial. En outre, Janagala, refacturera
      au Professionnel le montant des frais bancaires engagés par elle pour
      le remboursement de l’internaute dont la commande n’aura pas été
      honorée par le Professionnel.
    
    %h3 6.4 Réception des paiements et délivrance des produits et prestations de services
    
    %h4 6.4.1 Mandat de recouvrement des paiements
    
    %p
      Le Professionnel donne mandat à Jangala aux fins de recouvrement de la
      somme correspondant au prix du produit ou du bon de prestation de
      services. A cet effet, le Professionnel doit remplir et signer (cachet
      de la société et signature de la personne ayant qualité pour engager
      le Professionnel) le mandat que Jangala lui transmettra par voie de
      courrier électronique et retourner ce mandat à Jangala dument rempli
      sous format PDF.  Au titre de ce mandat, Jangala percevra, sur son
      compte bancaire, les paiements effectués par les internautes auteur
      d’une ou plusieurs commandes de produits ou de bons de prestations de
      services. Une fois le délai de rétractation purgé, tel qu’indiqué à
      l’article 6.4.3 ci-après, Jangala reversera au Professionnel ce
      montant minoré de la somme correspondant à la rémunération de Jangala,
      telle que prévue à l’article 7 des présentes CGUP.
    
    %h4 6.4.2 Délivrance des produits et des bons de prestations de services
    
    %p
      Délivrance des produits
    %p
      Si le Professionnel a opté pour la délivrance des produits via
      livraison, une fois la commande passée par l’internaute et le paiement
      de ce dernier reçu par Jangala, une notification sera envoyée au
      Professionnel lui indiquant qu’il peut procéder à l’envoi du
      Produit. Cette notification contiendra les informations nécessaires à
      la livraison du produit, notamment l’identité de l’internaute ainsi
      que ses coordonnées. Il appartient au Professionnel de respecter les
      délais de livraison qu’il s’est engager à tenir.
    %p
      Si le Professionnel a opté pour la délivrance des produits via la
      remise en magasin, une fois la commande passée par l’internaute et le
      paiement de ce dernier reçu par Jangala, une notification sera envoyée
      à l’internaute lui indiquant qu’il doit se rendre dans les locaux du
      Professionnel afin de se faire délivrer le produit acheté. Une fois le
      produit remis à l’internaute par le Professionnel, ce dernier
      notifiera à Jangala la délivrance du produit étant précisé que cette
      date de notification fera courir la période de purge du délai de
      rétractation dont l’internaute bénéficie au titre de l’article L
      121-20 du Code de la consommation.
    %p
      Délivrance des bons de prestations de services
    %p
      Une fois la commande passée par l’internaute, et le paiement de ce
      dernier reçu par Jangala, cette dernière enverra à l’internaute le bon
      matérialisant la prestation de service commandée, étant précisé que la
      date de l’envoi du bon sera considérée comme le point de départ de la
      période de purge du délai de rétractation dont l’internaute bénéficie
      au titre de l’article L 121-20 du Code de la consommation.
    %p
      L’internaute sera ensuite invité à prendre contact directement avec le
      Professionnel afin de réserver une date d’exécution des prestations de
      services objets du bon commandé.
    %p
      Une fois la prestation de service, le Professionnel enverra à Jangala une notification attestant de sa réalisation.
    
    %h4 6.4.3 Purge du délai de rétractation et reversement des paiements

    %p
      Conformément aux termes de l’article L 121-20 du Code de la
      consommation, en cas de vente à distance, le consommateur peut exercer
      un droit de rétractation durant les sept jours francs suivants la date
      à laquelle il a reçu le bien ou, en cas de prestation de service, la
      date à laquelle il a accepté l’offre de prestation.
    %p
      A réception de tout paiement effectué par un internaute en
      contrepartie de la commande d’un produit ou d’un bon de prestations de
      services, Jangala purgera le délai de rétractation pour le compte du
      Professionnel. A cet, effet, Jangala conservera les paiements reçus
      des internautes sur son compte bancaire durant une période
      correspondant au délai de rétractation dont bénéficie l’internaute.
    %p
      Dans le cas où, durant la période de purge du délai de rétractation,
      le Professionnel notifie à Jangala une demande de rétractation émise
      par un internaute, Jangala s’occupera, pour le compte du
      Professionnel, de reverser à l’internaute, une somme correspondant au
      prix payé par ce dernier lors de la commande du produit ou du bon de
      prestations de services. Une fois cette opération effectuée, Jangala
      notifiera au Professionnel l’accomplissement des opérations de
      remboursement.
    %p
      Il est expressément rappelé qu’il appartient au Professionnel de
      réceptionner les demandes de rétractation émanant des internautes et
      de les transmettre à Jangala dans les meilleurs délais.
    %p
      Dans le cas où, durant la période de purge du délai de rétractation,
      le Professionnel n’aurait pas notifié à Jangala de demande de
      rétractation émanant de l’internaute ayant passé commande, Jangala
      reversera au Professionnel la somme correspondant au prix du produit
      ou du bon de prestations de services commandé, minoré de la
      rémunération de Jangala telle que décrite à l’article 7 des présentes
      CGUP.
    
    %h3 6.5 Gestion des réclamations et de l’après-vente
    
    %p
      Il est expressément rappelé qu’il appartient au seul Professionnel de
      s’occuper des éventuelles réclamations des internautes et de
      l’après-vente (notamment de toutes garanties légales) des produits
      vendus ou des prestations de services exécutées par ses soins. En
      aucun cas il ne pourra être demandé à Jangala d’intervenir dans ce
      cadre.
    %p
      6.6 Fonction de désactivation de la vitrine en ligne
    %p
      Jangala mettra à disposition du Professionnel une fonction de
      désactivation de la vitrine en ligne lui permettant de la désactiver
      pour une période définie (par exemple en cas de congés…). En cas de
      fermeture de l’ensemble de ses points de vente physiques durant une
      période supérieure à 3 jours calendaires consécutifs, le Professionnel
      a l’obligation d’utiliser cette fonction et de désactiver sa vitrine
      en ligne pour toute la durée de la période de fermeture de ses points
      de vente physique.
    
    %h3 6.7 Publicité, re-targeting et communication sur d’autres places de marché en ligne
    
    %p
      Jangala pourra mettre à disposition du Professionnel ses compétences en matière de mise en avant de produits et services, de publicité en ligne.
    %p
      A cet effet, le Professionnel autorise Jangala à effectuer des
      opérations de mise en avant des produits et prestations de services
      offertes au public par le Professionnel ainsi qu’à effectuer pour son
      compte des prestations de publicité, notamment par le biais
      d’opérations dites de « re-targeting » (prestation consistant à faire
      afficher des messages publicitaires sous forme de bannières sur des
      sites internet tiers après qu’un internaute a fait preuve d’un intérêt
      particulier pour un produit ou une prestation de service).
    %p
      Le Professionnel autorise également Jangala à re-publier toutes
      annonces de vente de produits ou de prestations de services mises en
      ligne par le Professionnel sur sa vitrine en ligne sur des places de
      marché en ligne ou des sites internet édités par des sociétés tierces.
      Le Professionnel autorise Jangala, uniquement dans le cadre des
      opérations de mises en avant, des prestations de publicité et des
      re-publications d’annonces, telles que décrites ci-avant, et pour les
      besoins de ces opérations, à reproduire à l’identique la dénomination
      sociale, l’enseigne, le nom commercial, la marque et le logo du
      Professionnel.
    
  .wrapper
    %h2  7. Conditions financières et facturation
  
    %h3 7.1 Conditions financières
    
    %p
      En contrepartie des prestations effectuées par Jangala, notamment la
      mise à disposition d’une vitrine en ligne, l’accès au back office et à
      l’ensemble de ses fonctionnalités, le recouvrement des paiements en
      ligne, la gestion de la purge des délais de rétractation, la mise en
      avant, la publicité en ligne, le re-targeting, le Professionnel
      versera à Jangala une somme correspondant à un pourcentage du montant
      hors taxe et hors frais de livraison de chaque vente purgée de toute
      possibilité de rétractation. Les montants des pourcentages sont
      indiqués sur la page dénommée « Tarifs » accessible en suivant ce lien :
      = link_to "Tarifs", '/static/rates'
    %p
      Ce montant sera majoré de la TVA applicable à la prestation effectuée par Jangala au jour de facturation.
    
    %h3 7.2 Facturation
    
    %p
      Une facture correspondant au montant prélevé par Jangala à titre
      de rémunération sera transmise au Professionnel par voie
      électronique à l’adresse de courrier électronique renseignée par
      ce dernier lors de son inscription sur la Plateforme.
    
  .wrapper
    %h2 8. Garantie

    %p
      Le Professionnel est seul responsable des contenus mis en ligne par
      ses soins sur sa vitrine en ligne. A ce titre, il garantit Jangala
      contre tout recours judiciaire ou extrajudiciaire, ayant pour cause ou
      origine, directe ou indirecte, un contenu mis en ligne sur sa vitrine
      en ligne.
    %p
      Dans le cas où le Professionnel mettrait en vente depuis sa vitrine en
      ligne des produits ou des prestations dont la commercialisation
      nécessite le respect de conditions légales ou réglementaires, ou une
      autorisation spécifique, le Professionnel s’engage à disposer et
      pouvoir justifier de toutes les autorisations nécessaires ainsi que du
      respect de toutes les conditions légales ou réglementaires
      nécessaires. Le Professionnel garantit Jangala contre tout recours
      ayant pour cause ou origine, directe ou indirecte, un manquement
      quelconque de sa part aux conditions légales et réglementaires de
      commercialisation desdits produits ou prestations de services,
      notamment dans le cas où une autorisation spéciale était nécessaire et
      où il ne serait pas conformé à cette obligation.
    %p
      Plus généralement, le Professionnel garantit Jangala contre tout
      recours judiciaire ou extrajudiciaire ayant pour cause ou origine,
      directe ou indirecte, un acte volontaire ou involontaire du
      Professionnel causant à des tiers un dommage quelconque.
    
  .wrapper
    %h2 9. Responsabilité

    %p
      Conformément à l’article 1151 du Code civil, la responsabilité de
      Jangala est exclue pour tout dommage indirect. Tout préjudice d’image
      ou de réputation du Professionnel est présumé, de manière
      irréfragable, comme étant un dommage indirect, ce que le Professionnel
      reconnaît et accepte expressément.
    %p
      Compte tenu de la répartition des risques de l’opération telles que
      prévue et exposée par les présentes CGUP, la responsabilité de Jangala
      est strictement limitée à une somme maximum correspondant à 20 % des
      sommes versées à Jangala par le Professionnel dans l’année au cours de
      laquelle le fait générateur de responsabilité s’est produit, ce que le
      Professionnel reconnaît et accepte expressément.
    
  .wrapper
    %h2 10. Résiliation de plein droit

    %p
      En cas de manquement par l’une des Parties à l’une quelconques des
      obligations lui incombant au titre des présentes CGUP, non réparé dans
      les 30 jours calendaires suivants mise en demeure envoyée par la
      Partie non défaillante, cette dernière pourra résilier le présent
      Contrat, de plein droit, et ceci sans préjudice de tous dommages et
      intérêts qui pourraient être réclamés à la Partie défaillante.
    
  .wrapper
    %h2 11. Force majeure

    %p
      En cas de survenance d’un évènement de force majeure, au sens de la
      jurisprudence de la Cour de cassation, soit tout évènement
      imprévisible, irrésistible et extérieur aux Parties, et rendant
      impossible l’exécution par l’une des Parties de l’une de ses
      obligations prévues au présent Contrat, l’exécution de ladite
      obligation sera suspendue durant toute la durée dudit cas de force
      majeure.
    %p
      Tout événement de force majeure dont l’une des Parties souhaiterait se
      prévaloir devra faire l’objet d’une notification écrite, détaillée et
      motivée, à l’autre Partie et ce dans un délai 5 jours ouvrés suivant
      sa survenance. Aucune Partie ne pourra se prévaloir d’un événement au
      titre de la force majeure dans le cas où elle n’aurait pas procédé à
      la notification précitée.
    %p
      Dans le cas où l’évènement de force majeure n’aurait pas cessé à
      l’issue d’une période d’un mois à compter de sa date de notification,
      chaque Partie aura la faculté de mettre fin au présent Contrat par
      simple notification écrite à l’autre Partie.
    
  .wrapper
    %h2 12. Cession

    %p
      Le présent Contrat ne pourra en aucun cas être cédé ou transféré à un
      tiers par le Professionnel, à titre gratuit ou onéreux, partiellement
      ou en totalité, sans l’accord exprès préalable et écrit de Jangala.
    %p
      Jangala pourra librement céder tout ou partie des droits et
      obligations prévus au présent Contrat à tout tiers de son choix, ce
      que le Professionnel reconnaît et accepte expressément.
    
  .wrapper
    %h2 13. Données à caractère personnel

    %p
      Le Professionnel est informé que son inscription sur Jangala Market
      donne lieu de la part de Jangala à la collecte et au traitement
      automatisé de données à caractère personnel le concernant et fournies
      lors de la création d’un compte personnel.
    %p
      L'utilisation de ces données est soumise aux dispositions de la loi n°
      78-17 du 6 janvier 1978 relative à l'Informatique, aux Fichiers et aux
      Libertés telle que modifiée par la loi n° 2004-801 du 6 août 2004.
    %p
      Conformément à la loi précitée, ces données à caractère personnel ne
      sont conservées et utilisées qu’aux seules fins de permettre au
      Professionnel d’utiliser la Plateforme, ses fonctionnalités et ses
      services associés. Elles sont conservées pendant toute la durée
      nécessaire aux finalités pour lesquelles elles sont collectées et
      traitées.
    %p
      Les champs obligatoires des formulaires de récupération des données à
      caractère personnelle sont indiqués sur la Plateforme lors de
      l’inscription par un astérisque.
    %p
      Conformément à la loi, le Professionnel dispose d'un droit d'accès et
      de rectification des données à caractère personnel le concernant ainsi
      que d’un droit d’opposition au traitement des informations le
      concernant, en adressant un courrier électronique à l'adresse indiquée
      sur la Plateforme.
    %p
      Jangala met en œuvre tous ses efforts afin que ces données à caractère
      personnel soient conservées dans des conditions de sécurité
      suffisantes et que leur protection soit assurée dans le respect des
      usages en vigueur.
    %p
      Le Professionnel est informé de ce que les données à caractère
      personnel ainsi collectées pourront être transmises par Jangala à des
      tiers, dans le respect des lois et règlement en vigueur, ce que le
      Professionnel accepte expressément.
    
  .wrapper
    %h2 14. Non renonciation

    %p
      Dans le cas où Jangala ne se prévaudrait pas à l’encontre du
      Professionnel de l’un quelconque de ses droits conformément aux termes
      des présentes CGUP, cet acte ne saurait constituer ou être interprété
      comme une quelconque renonciation définitive par Jangala au droit en
      question.
    
  .wrapper
    %h2 15. Autonomie des stipulations

    %p
      Toute disposition des présentes CGUP qui viendrait à être déclarée
      nulle, non applicable ou caduque au regard d'une règle de droit en
      vigueur ou d'une décision judiciaire devenue définitive, sera réputée
      non écrite sans pour autant entraîner la nullité des présentes CGUP,
      ni altérer la validité des autres stipulations desdites CGUP.
    
  .wrapper
    %h2 16. Conciliation préalable

    %p
      En cas de survenance d’une difficulté liée soit à l’interprétation
      d’une des stipulations des présentes CGUP soit à l’exécution de l’une
      des obligations stipulées aux présentes, les Parties conviennent
      expressément de faire tous leurs efforts pour tenter de régler la
      difficulté amiablement et s’interdisent, en conséquence, d’introduire
      toute procédure judiciaire avant la tentative précitée.
    
  .wrapper
    %h2 17. Attribution de juridiction

    %p
      Dans la mesure où le Professionnel a la qualité de commerçant, en cas
      de contestation relative à l’un des droits et/ou obligations prévus
      aux présentes CGUP, les Parties font attribution exclusive de
      compétence au Tribunal de commerce de Paris, sous réserve que la loi
      n’attribue pas compétence exclusive à une autre juridiction.


