.text-default
  .l-header-fullimg
    %div.wrapper
      = title "Conditions Générales d’Utilisation - Consommateurs"

  .wrapper
    %h2 1. Parties contractantes
    %p
      Le présent site internet (ci-après dénommé « Jangala Market » ou « la Plateforme ») et les
      services qui y sont proposés sont édités (ci-après dénommés « les Services ») par la société
      SHOPS INTERNET (ci-après dénommée Jangala), société par actions simplifiée (SAS), au
      capital de 10 000 euros, dont le siège social est situé au 19, Passage Cardinet à Paris (75017),
      immatriculée au RCS de Paris, sous le numéro 788 619 039 et représentée par son Président,
      Monsieur Jean-Baptiste Malpel.
    %p
      Au sens des présentes conditions générales d’utilisation (ci-après dénommées « CGUC »),
      toute personne naviguant sur le Site ou utilisant, en tout ou partie, ses Services est considérée
      comme étant un utilisateur (ci-après dénommé « l’Utilisateur »).
    %p
      Au cours des présentes CGUC, Jangala et l’Utilisateur sont ci-après dénommés ensemble
      « les Parties ».
      
  .wrapper
    %h2 2. Acceptation des CGUC
    %p
      L’acceptation des présentes CGUC est manifestée par l’inscription de l’Utilisateur sur la
      Plateforme.
    %p
      En tout état de cause, le fait d’utiliser la Plateforme, ses fonctionnalités et ses services
      associés présume, de manière irréfragable, de la prise de connaissance préalable des présentes
      CGUC et de leur pleine et entière acceptation par l’Utilisateur. A défaut d’acceptation pleine
      et entière desdites CGUC, l’Utilisateur renonce à utiliser la Plateforme, ses Services et ses
      fonctionnalités.
    
  .wrapper
    %h2 3. Mises à jour
    %p
      Les présentes CGUC sont susceptibles d’être mises à jour par Jangala. L’Utilisateur devra
      consulter régulièrement les présentes CGUC afin de s’informer des modifications et des mises
      à jour.
    %p
      Le fait pour l’Utilisateur de continuer à utiliser la Plateforme ou ses Services après une mise à
      jour des CGUC fait présumer, de façon irréfragable, de l’acceptation par l’Utilisateur desdites
      CGUC et de leurs modifications.
    
  .wrapper
    %h2 4. Durée
    %p
      Les présentes CGUC sont conclues pour toute la durée de navigation sur la Plateforme ou, le
      cas échéant, pour toute la durée d’utilisation des Services accessibles sur la Plateforme par
      l’Utilisateur.
    
  .wrapper

    %h2 5. Utilisation de la Plateforme
    
    %h3 5.1 Inscription
    
    %p
      Afin de pouvoir utiliser Jangala Market, l’Utilisateur devra procéder à la création de son
      compte d’Utilisateur. A cet effet, l’Utilisateur devra fournir l’ensemble des informations qui
      lui seront demandées sur la page d’inscription. Jangala confirmera par courrier électronique à
      l’Utilisateur la création de son compte d’Utilisateur.
    %p
      L’Utilisateur s’engage à mettre à jour les informations nécessaires à son inscription dès lors
      que celles-ci viendraient à changer. Dans le cas où l’Utilisateur aurait fourni de fausses
      informations lors de son inscription ou n’aurait pas procédé à leur mise à jour suite à des
      changements de celles-ci, Jangala aura la possibilité de supprimer le compte de l’Utilisateur et
      ce sans notification préalable.
    %p
      Le compte de l’Utilisateur sera protégé par un identifiant (login) et un mot de passe. Ces
      identifiants de connexion sont strictement confidentiels et personnels. En conséquence,
      l’Utilisateur s’interdit de communiquer ses identifiants de connexion à des tiers et doit veiller
      à leur confidentialité.
    %p
      Une fois connecté à la Plateforme, l’Utilisateur aura accès à l’ensemble des offres de produits,
      de prestations de services ou de promotions proposées par les Professionnels inscrits sur
      Jangala Market.
      
    %h3 5.2 Processus de commande
    
    %p
      L’Utilisateur pourra commander les produits, prestations de services ou promotions proposés
      par les Professionnels tant que les offres sont visibles sur la Plateforme ou que les
      informations publiées par le Professionnel indiquent un stock disponible.
    %p
      Les prix mentionnés sur les vitrines des Professionnels sont indiqués hors frais de livraison.
      Les éventuels frais de livraison seront ajoutés avant la validation finale de la commande par
      l’Utilisateur.
    %p 
      Il est rappelé que Jangala n’est que l’éditeur de la Plateforme sur laquelle les Professionnels
      sont référencés et, qu’en conséquence, toutes les commandes passées via Jangala Market sont
      directement conclues avec les Professionnels inscrits sur la Plateforme.
    %p
      Conformément à l’article 1369-5 du Code civil, une fois que l’Utilisateur aura passé
      commande d’un ou plusieurs produits ou services, il sera invité à vérifier le détail de sa
      commande. Une fois sa commande vérifiée et, éventuellement corrigée, l’Utilisateur devra
      confirmer sa commande auprès du Professionnel.
    %p
      A la suite de cette opération de confirmation, l’Utilisateur procèdera au paiement. Les
      paiements sont effectués en ligne par carte bancaire. Afin de procéder au paiement de sa
      commande, l’Utilisateur devra suivre les instructions qui lui seront fournies sur la Plateforme
      à cet effet.Le paiement des commandes effectuées via la Plateforme est fait auprès de Jangala qui
      encaissera les fonds pour le compte du Professionnel vendeur, dans le cadre du mandat donné
      par le Professionnel à Jangala à cet effet.
    %p
      Une fois l’opération de paiement réalisée, l’Utilisateur recevra un courrier électronique de la
      part du Professionnel accusant réception de la commande passée. L’Utilisateur doit conserver
      ce courrier électronique.
    
    %h3 5.3 Livraison – Réception des commandes
    
    %p
      Par défaut, la remise de la commande s’effectue dans les locaux du Professionnel avec lequel
      l’Utilisateur a conclu la vente. Afin de réceptionner sa commande dans les locaux du
      Professionnel, l’Utilisateur devra suivre les instructions qui lui seront fournies sur la
      Plateforme ou par le Professionnel. L’Utilisateur devra notamment s’informer des jours et des
      horaires d’ouverture des locaux du Professionnel.
    %p
      Lorsque la livraison du produit est possible, les conditions de celles-ci sont indiquées sur la
      Plateforme. L’Utilisateur pourra alors opter pour la livraison de sa commande. Dans ce cas
      l’Utilisateur devra suivre les instructions qui lui seront communiquées sur la Plateforme ou
      par le Professionnel.
    
    %h2 6. Droit de rétractation
    
    %p
      Aux termes de l’article L 121-20 du Code de la consommation il est rappelé que l’Utilisateur
      dispose d’un délai de rétractation d’une durée de 7 jours francs qu’il peut exercer auprès du
      Professionnel avec qui il a conclu la vente sans avoir à justifier de motifs ni à payer de
      pénalités, à l'exception, le cas échéant, des frais de retour.
    %p
      Il est rappelé aux Utilisateurs que le délai de rétractation court à compter de la date de
      réception pour les biens ou de l'acceptation de l'offre pour les prestations de services. Dans le
      cas où la remise de la commande s’effectue dans les locaux du Professionnel avec lequel la
      vente a été conclue, le délai de rétractation court à compter de la date de la remise de la
      commande.
    %p
      En tout état de cause, la vente étant conclue directement avec le Professionnel, le droit de
      rétractation précité doit être exercé par l’Utilisateur directement auprès du Professionnel et
      non auprès de Jangala.
    %p
      A toutes fins utiles, il est rappelé que Jangala ne transmettra pas aux Professionnels les
      demandes de rétractation émanant des Utilisateurs.
    %p
      Enfin, il est rappelé que le droit de rétractation est exclut pour les contrats visés à l’article L
      121-20-2 du Code de la consommation.
    
    %h2 7. Réclamations et garanties
    
    %p
      Toutes réclamations ou action en garanties doivent être adressées par l’Utilisateur directement
      au Professionnel. Aucune demande en ce sens ne sera traitée par Jangala ni transmises par
      Jangala aux Professionnels concernés.
      
    %h2 8. Données à caractère personnel
    
    %p
      L’Utilisateur est informé que son inscription sur la Plateforme donne lieu de la part de Jangala
      à la collecte et au traitement automatisé de données à caractère personnel le concernant et
      fournies lors de la création d’un compte Utilisateur. Les champs obligatoires des formulaires
      de récupération des données à caractère personnelle sont indiqués sur la Plateforme lors de
      l’inscription par un astérisque.
    %p
      L'utilisation de ces données est soumise aux dispositions de la loi n° 78-17 du 6 janvier 1978
      relative à l'Informatique, aux Fichiers et aux Libertés telle que modifiée par la loi n° 2004-801
      du 6 août 2004. Ces données sont conservées pendant toute la durée nécessaire aux finalités
      pour lesquelles elles sont collectées et traitées.
    %p
      Conformément à la loi, l’Utilisateur dispose d'un droit d'accès et de rectification des données
      à caractère personnel le concernant ainsi que d’un droit d’opposition au traitement des
      informations le concernant, en adressant un courrier électronique à l'adresse suivante :
      support[@]jangalamarket[.]com
    %p
      Jangala met en œuvre tous ses efforts afin que ces données à caractère personnel soient
      conservées dans des conditions de sécurité suffisante et que leur protection soit assurée dans
      le respect des usages en vigueur.
    %p
      Dans le cas où l’Utilisateur l’accepte lors de son inscription sur la Plateforme, les données à
      caractère personnel collectées pourront être transmises par Jangala à des tiers, dans le respect
      des lois et règlement en vigueur.
    
    %h2 9. Cookies
    
    %p
      Pour la parfaite information de l’Utilisateur, il est précisé que Jangala a recours à la
      technologie dite des « cookies ». Jangala implante un cookie sur l’ordinateur de l’Utilisateur. 
      Un cookie ne permet pas d’identifier l’Utilisateur. De manière générale, il enregistre des
      informations relatives à la navigation de l’Utilisateur sur la Plateforme. L’Utilisateur peut
      s’opposer à l'enregistrement de "cookies". Il appartient à l’Utilisateur de configurer son
      logiciel de navigation internet à cet effet.
      
    %h2 10. Propriété intellectuelle
    
    %p
      L'accès à la Plateforme confère aux Utilisateurs un simple droit d'usage personnel et non
      exclusif de la Plateforme et des Services qui y sont proposés. L'ensemble des éléments édités
      sur la Plateforme, notamment les logos, marques et autres signes distinctifs, les textes,
      photographies, infographies sont susceptibles d’être protégés notamment par des droits de
      propriété intellectuelle. En conséquence, toute représentation ou reproduction, intégrale ou
      partielle de ces éléments par les Utilisateurs est, par principe, interdite.
      
    %h2 11. Responsabilité
    
    %p
      Jangala reste à tout moment tiers au contrat de vente conclu entre le Professionnel et
      l’Utilisateur. En conséquence, Jangala ne pourra en aucun cas être tenue pour responsable des
      dommages et préjudices directs et indirects de quelque nature qu’ils soient qui découleraient
      des commandes passées et des contrats conclus par les Utilisateurs auprès des Professionnels
      référencés sur la Plateforme, ce que l’Utilisateur reconnaît et accepte expressément.
      L’éventuelle responsabilité de Jangala est strictement limitée aux dommages dont la seule et
      unique cause directe serait une défaillance de la Plateforme.
    %p
      Jangala n’exerce aucun contrôle sur les contenus publiés sur la Plateforme par les
      Professionnels. En conséquence, Jangala ne saurait être tenue pour responsable de tout
      dommage direct ou indirect qui pourrait résulter d’un contenu publié par un Professionnel sur
      la Plateforme.
    %p
      Des liens hypertextes peuvent être présents sur la Plateforme et pointer vers des sites internet
      tiers. Ces sites internet étant édités et gérés par des tiers, et dans la mesure où Jangala
      n’exerce aucun contrôle sur le contenu publié sur ces sites, aucune action judiciaire relative au
      contenu de ces sites ou à leur utilisation ne saurait être intentée à l’encontre de Jangala.
      
    %h2 12. Force majeure
    
    %p
      Au sens des présentes, CGUC tout événement irrésistible, imprévisible et extérieur est
      considéré comme étant un événement de force majeure. Est notamment considéré comme un
      événement de force majeure au sens des présentes CGUC toute coupure, interruption ou
      perturbation des moyens de communication électronique affectant notamment le
      fonctionnement du réseau internet. Dans ce cas, Jangala ne pourra en aucun cas être tenue
      pour responsable des dommages et préjudices de quelque nature qu’ils soient, résultant d'une
      indisponibilité de la Plateforme.
      
    %h2 13. Non renonciation
    
    %p
      Dans le cas où Jangala ne se prévaudrait pas de l’un quelconque de ses droits conformément
      aux termes des présentes CGUC, cet acte ne saurait constituer et être interprété comme une
      quelconque renonciation définitive au droit en question.
      
      
    %h2 14. Autonomie des stipulations
    
    %p
      Toute disposition des présentes CGUC déclarée nulle, non applicable ou caduque au regard
      d'une règle de droit en vigueur ou d'une décision judiciaire devenue définitive, sera réputée
      non écrite sans pour autant entraîner la nullité des présentes CGUC, ni altérer la validité des
      autres dispositions.
    
    %h2 15. Loi applicable
    
    %p
      Nonobstant le pays dans lequel l’Utilisateur utilise la Plateforme ou utilise un des services qui
      y est proposé, les présentes CGUC sont exclusivement régies par la loi française.
      