.l-3cols.articles.wrapper.pt3
  %section.articles-col.col.products
    %h2.clearfix.a-title
      %span.title Top produits
    %article
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
  %section.articles-col.col.deals
    %h2.clearfix.a-title
      %span.title Top promotions
    %article
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
  %section.articles-col.col.news
    %h2.clearfix.a-title
      %span.title Top promotions
    %article
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad

#signup-modal.modal.m-create-account
  .modal-header
    %h3.title-border Connectez-vous !
  .modal-body    
    %a.btn.big.no-border.facebook.mt1{href:"#"}
      %i.icon.i-btn.i-facebook
      %span Se connecter avec Facebook
    %p.email-text.mt2
      ou en utilisant votre e-mail
   
    %form.signup-signin
      %input{type: 'email', value: '', name: 'u-email', placeholder: 'Votre email'}
      %input{type: 'password', value: '', name: 'u-password', placeholder: 'Votre mot de passe'}
      %button.btn.color1.big Valider
      
      
      
      