/* ==|=======================================================================
   Module/Button
   ========================================================================== */

.btn { 
	display: inline-block;
	padding: 0.2em 0.7em;
	font-size: 1.15em;
	margin-bottom: 0;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	@include gradient-linear(#ffffff, #f3f3f3);
	@include border-radius(4px);
	@include box-shadow-multiple(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, .2));
	font-weight: 400;
	border: solid 1px #ddd;
	@include transition();
	
	/* States */
	&:hover {
		color: #333333;
		text-decoration: none;
		background-color: #e6e6e6;
		@include gradient-linear(#fdfefe, #f3f3f3);
	}
	&:active {
		@include box-shadow-inset(0, 2px, 2px, rgba(0, 0, 0, .02));
	}
	
	/* Colors */
	&.grey {
		border-color: darken(#ddd, 10%);
		@include gradient-linear(lighten(#ddd, 10%), #ddd);
		color: #555;
				
		&:hover {
			@include gradient-linear(lighten(#ddd, 13%), lighten(#ddd, 3%));
		}
	}
	&.color1 {
		border-color: darken($color1, 10%);
		@include gradient-linear(lighten($color1, 10%), $color1);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
				
		&:hover {
			@include gradient-linear(lighten($color1, 13%), lighten($color1, 3%));
		}
	}
	&.color2 {
		border-color: darken($color2, 10%);
		@include gradient-linear(lighten($color2, 10%), $color2);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		
		&:hover {
			@include gradient-linear(lighten($color2, 13%), lighten($color2, 3%));
		}
	}
	&.color3 {
		border-color: darken($color3, 10%);
		@include gradient-linear(lighten($color3, 10%), $color3);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		
		&:hover {
			@include gradient-linear(lighten($color3, 13%), lighten($color3, 3%));
		}
	}
	&.yellow {
		font-family: $proxima-bold;
		color: #000;
		border-color: darken($yellow, 10%);
		@include gradient-linear(lighten($yellow, 10%), $yellow);
		text-shadow: 0 -1px 0 rgba(#fff, .2);
		
		&:hover {
			@include gradient-linear(lighten($yellow, 13%), lighten($yellow, 3%));
		}
	}
	&.red {
		border-color: darken($red, 10%);
		@include gradient-linear(lighten($red, 10%), $red);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		
		&:hover {
			@include gradient-linear(lighten($red, 13%), lighten($red, 3%));
		}
	}
	&.facebook {
		border-color: darken($facebook, 10%);
		@include gradient-linear(lighten($facebook, 10%), $facebook);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		font-size: 1.6em !important;
		position: relative;
		padding: .5em 1em .5em 3em !important;
		overflow: hidden;
		
		&:hover {
			@include gradient-linear(lighten($facebook, 13%), lighten($facebook, 3%));
		}
		
		.icon {
			position: absolute;
			left: 1em;
			top: .4em;
			
			&:after {
				position: absolute;
				content: "";
				right: -.6em;
				top: -1em;
				border-right: 1px solid rgba(#1e376d, .8);
				border-left: 1px solid rgba(#fff, .1);
				height: 200%;
			}
		}
		
		/* Sizes */
		&.medium {
			padding: 0.1em 0.5em 0.1em 2.7em !important;
			font-size: .9em !important;
			font-family: $proxima-regular;
			
			.icon {
				left: .8em;
			}
		}
		&.small {
			padding: 0 0.5em 0 2.3em !important;
			font-size: .7em !important;
			font-family: $proxima-regular;
			
			.icon {
				left: .5em;
				top: .3em;
			}
		}
	}
	&.twitter {
		border-color: darken($twitter, 10%);
		@include gradient-linear(lighten($twitter, 10%), $twitter);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		font-size: 1.6em !important;
		position: relative;
		padding: .5em 1em .5em 3em !important;
		overflow: hidden;
		
		&:hover {
			@include gradient-linear(lighten($twitter, 13%), lighten($twitter, 3%));
		}
		
		.icon {
			position: absolute;
			left: .8em;
			top: .5em;
			
			&:after {
				position: absolute;
				content: "";
				right: -.6em;
				top: -1em;
				border-right: 1px solid darken($twitter, 10%);
				border-left: 1px solid rgba(#fff, .1);
				height: 300%;
			}
		}
	}
	
	/* Sizes */
	&.small {	
		font-size: .9em;
	}
	&.mini {
		font-size: .8em;
		padding: .1em .5em 0;
		@include box-shadow(0, 1px, 1px, rgba(#000, .1));
	}
	&.big {	
		padding: 0.5em 1em;
		font-size: 1.3em;
	}
	
	/* Style */
	&.full {
		width: 100%;
		@include box-sizing(border-box);
		padding: 0.8em 0;
	}
	&.withborder {
		border: solid 1px #eee;
	}
	
	/* Options */
	.with-icon {
		color: #fff;
		padding: .05em .3em;
		margin: -0.4em 0 0 -0.5em;
		font-style: normal;
		color: #000;
		@include border-radius(4px 0 0 4px);
		border-right: solid 1px #ddd;
		display: inline-block;
		
		&.yellow {
			background: $yellow;
		}
	}
	&.no-border {
		border: none;
	}
	&.no-shadow-inset {
		@include box-shadow(0, 1px, 0, rgba(0, 0, 0, .1));
	}
	&.active, &.active:hover {
		border-color: #83C8E6;
		background: #ddedf4;
		color: #83C8E6;
		@include box-shadow(0, 0, 0, transparent);
		text-shadow: none;
	}
}

/* Form button */
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}






