/* ==|=======================================================================
   Module/Form
   ========================================================================== */

input[type="text"], input[type="password"], input[type="email"], textarea {
	font-size: 1em;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	padding: .6em .8em;
	border: 1px solid #ccc;
	outline: 0;
	@include box-shadow-inset(0, 1px, 2px, rgba(0, 0, 0, 0.1));
	@include border-radius(2px);
	
	&[class*="span"] {
		padding: 0.2em 0.4em !important; /* TMP: for store wizard form height - Issue #57 + #154 on github  */
	}
	
	&:hover {
		border-color: #a5a5a5;
	}
	&:focus {
		border-color: #999;
	}
}

/* Remove button padding in FF */
button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
    border:1;
    padding:1;
}

/* Rails classes */
.simple_form{
  .btn{
    margin-left: 0px;
  }  
  .control-group{
    width: 400px;
    display: inline-block;
  }
  &.form-inline{
    input{
      width: 90%;
      border: 1px solid #CCCCCC;
    }
  }
}

.control-group {
	.controls, label {
		display: inline-block;
	}
}

.form {
	h3, h2 {
		margin: 0 0 .2em;
		font-family: $proxima-bold;
	}
}

textarea {
	resize: none;
	height: 60px;
}

textarea.big {
	height: 150px !important;
}

.upload-preview {
	max-height: 120px;
	max-width: 120px;
	overflow: hidden;
	
	img {
		max-width: 120px;
		max-height: 120px;
	}	
} 

input.error{
  border: 1px solid red;
}

.signin-error {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 700px;
	padding: .7em 0;
	background: red;
	margin: 0 auto 0 -350px;
	border-radius: 0 0 4px 4px;
}

/* Module Products/Deals Variants */
.products-variants {
	text-align: left;
	margin-top: 2em;

	.products-variants-noselect {
		margin-top: 1.8em;
	}
	.btn-group {
		padding: 0.3em 1.5em;
	}
	.products-variants-block {
		display: inline-block;
		margin-right: .3em;

		input[type="number"] {
			width: 2.8em;
		}
	}
}