/* ==|=======================================================================
   Module/Store/Header
   ========================================================================== */

#header {
	.profile-wrap {
			vertical-align: 3px;
			margin-left: 1em;
			top: 0px;
	}
}